.WidgetSm{
    flex: 1;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.WidgetSmTitle{
    font-size: 22px;
    font-weight: 600;
}

.WidgetSmList{
    margin: 0;
    padding: 0;
}
.WidgetSmListItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
}

.WidgetSmImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.WidgetSmUser{
    display: flex;
    flex-direction: column;
}

.WidgetSmUsername{
    font-weight: 600;
}

.WidgetSmProfetion{
    font-weight: 300;
    color: gray;
}

.WidgetSmBtn{
    display: flex;
    align-items: center;
    border: none ;
    border-radius: 15px !important;
    padding: 6px 0pxs !important;
    cursor: pointer;
    background-color: #eeeef7 !important;
}


.widgetSmIcon{
    color: #555;
    font-size: 20px !important;
}
