.products{
    width: 100%;
    flex:4 ;
    box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}
.link{
    text-decoration: none;
    cursor: pointer;
}

.productsUser{
    display: flex;
    align-items: center;
}

.productsImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.productsAction{
    display: flex;
    align-items: center;

}

.productsEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: #fff;
    background-color: #3bb077;
    margin-right: 20px;
    cursor: pointer;
}

.productsDelete{
    color: red;
    cursor: pointer;
}
